version: '3.8'

services:
  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy-nginx
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /www:/www:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - backend-network

networks:
  backend-network:
    external: true
